{% extends 'base.html' %} {% block titulo %} Inicio {% endblock%} {%extends
'base.html' %} {% block contenido %}

<div class="p-5 bg-light">
  <div class="container">
    <h1 class="display-3">Bienvenidos al sitio de la libreria</h1>
    <p class="lead">Empezar a ingresar libros</p>
    <hr class="my-2" />

    {% if not request.user.is_authenticated %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/iniciar-sesion" role="button"
        >Iniciar sesión</a
      >
    </p>
    {% endif %} {% if request.user.is_authenticated %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/cerrar-sesion" role="button"
        >Cerrar sesión</a
      >
    </p>
    {% endif %}
  </div>
</div>
{% endblock%}
